<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Partners Service</title>
    <!-- Enlace al archivo CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!-- Añadir favicon -->
    <link rel="icon" href="{{ url_for('static', filename='assets/logo.ico') }}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Header con Menú -->
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='assets/logo.png') }}" alt="Logo">
        </div>
        <nav>
            <ul>
                <li><a href="#inicio">Inicio</a></li>
                <li><a href="#nuestro-proceso">Nuestro Proceso</a></li>
                <li><a href="#nuestro-objetivo">Nuestro Objetivo</a></li> <!-- Nuevo enlace -->
                <li><a href="#agendar-llamada">Agendar Demo</a></li>
                <li><a href="#preguntas">Preguntas</a></li>
            </ul>
        </nav>
    </header>

    <!-- Sección de Eslogan -->
    <section id="inicio">
        <h1 id="eslogan">
            <span id="text-part1">Te revelamos el método comprobado para elevar tu e-commerce y poder generar entre
            </span>
            <br>
            <span id="highlight">7 cifras y 8 cifras</span>
        </h1>
        <!-- <div class="cta-button-container">
            <a href="#video" class="cta-button">Quiero saber más</a>
        </div>-->
    </section>

    <!-- Sección de Video -->
    <section id="video">
        <div class="video-container">
            <video src="{{ url_for('static', filename='tu-video.mp4') }}" controls></video>
        </div>
    </section>

    <!-- Contenedor del botón de agendar demo -->
    <div class="agendar-demo-container">
        <a href="#agendar-llamada" class="agendar-demo-button">Agendar demo</a>
    </div>

    <!-- Sección Nuestro Proceso -->
    <section id="nuestro-proceso">
        <h2>Nuestro Proceso</h2>
        <div class="timeline">
            <div class="timeline-item">
                <img src="{{ url_for('static', filename='assets/imagen1.jpg') }}" alt="Paso 1" class="timeline-image">
                <div class="timeline-content">
                    <h3>Paso 1</h3>
                    <p>Generación de interés mediante anuncios de alta conversión, a través de un embudo de ventas
                        eficaz que se basa en contenido valioso y creatividades diseñadas para volverse virales.</p>
                </div>
            </div>
            <div class="timeline-item">
                <img src="{{ url_for('static', filename='assets/imagen2.jpg') }}" alt="Paso 2" class="timeline-image">
                <div class="timeline-content">
                    <h3>Paso 2</h3>
                    <p>Desarrollo de un proceso para convertir esa atención en ventas, empleando ofertas de adquisición
                        ganadoras.</p>
                </div>
            </div>
            <div class="timeline-item">
                <img src="{{ url_for('static', filename='assets/imagen3.jpg') }}" alt="Paso 3" class="timeline-image">
                <div class="timeline-content">
                    <h3>Paso 3</h3>
                    <p>Implementación de un sistema post-venta para maximizar el valor de cada cliente a través de
                        estrategias de marketing por correo electrónico.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Sección Nuestro Objetivo -->
    <section id="nuestro-objetivo">
        <h2>Nuestro Objetivo</h2>
        <p>Buscamos empresas ambiciosas para impulsar su crecimiento sostenible basados en 3 pilares:</p>
        <div class="objetivo-pilares">
            <div class="pilar">
                <img src="{{ url_for('static', filename='assets/plan-de-crecimiento.jpg') }}" alt="Plan de Crecimiento">
                <h3>Plan de Crecimiento</h3>
            </div>
            <div class="pilar">
                <img src="{{ url_for('static', filename='assets/optimizacion.jpg') }}" alt="Optimización">
                <h3>Optimización</h3>
            </div>
            <div class="pilar">
                <img src="{{ url_for('static', filename='assets/efectividad.jpg') }}" alt="Efectividad">
                <h3>Efectividad</h3>
            </div>
        </div>
    </section>

    <!-- Sección para Agendar Llamada -->
    <section id="agendar-llamada">
        <h2>Agendar una Llamada</h2>
        <div id="calendly-widget"></div>
    </section>

    <!-- Nueva Sección de Preguntas -->
    <section id="preguntas">
        <h2>¿Tienes alguna pregunta?</h2>
        <p>Déjanos tu pregunta y te contactaremos a la brevedad posible.</p>
        <form id="preguntas-form" action="/send_email" method="POST">
            <label for="question">Tu Pregunta:</label>
            <textarea id="question" name="question" required></textarea>
        
            <label for="name">Nombre:</label>
            <input type="text" id="name" name="name" required>
        
            <label for="email">Correo Electrónico:</label>
            <input type="email" id="email" name="email" required>
        
            <label for="phone">Teléfono:</label>
            <input type="text" id="phone" name="phone">
        
            <button type="submit" class="submit-button">Enviar Pregunta</button>
        </form>
    </section>

    <!-- Footer -->
    <footer id="contacto">
        <p>Contacto: email@dominio.com | Teléfono: +123456789</p>
    </footer>

    <!-- Calendly Widget -->
    <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
    <script type="text/javascript">
        Calendly.initInlineWidget({
            url: 'https://calendly.com/tu-usuario',
            parentElement: document.getElementById('calendly-widget'),
            prefill: {},
            utm: {}
        });
    </script>

    <!-- Enlace al archivo JS -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>
